
    table.tankorBealliras { background-color: rgb(220,220,220); margin-top: 20px; }
    table.tankorBealliras th { padding: 2px 10px; }
    table.tankorBealliras thead th { background-color: rgb(20,40,80); color: white; }
    table.tankorBealliras tfoot th { background-color: rgb(20,40,80); color: white; }
    table.tankorBealliras tfoot td { background-color: rgb(20,40,80); color: white; text-align: center; }
    table.tankorBealliras tbody th { background-color: rgb(120,140,180); color: white; }
    table.tankorBealliras tbody td { background-color: rgb(230,240,250); color: black; text-align: center; }
    div.torlesForm { text-align: center; }
