
h1.changePassword {
    text-align: center;
}

table.changePassword {
    border: solid 1px rgb(85, 85, 80);
    background-color: #eeeeee;
    width:350px;
}
table.changePassword thead tr th {
    height:30px;
    background-color: rgb(102, 102, 144);
    color:white;
    border-bottom: solid 1px white;
}
table.changePassword tr td { padding: 2px 10px; height:20px;}
table.changePassword tr td input { font-size:14px; }
table.changePassword tfoot tr th { background-color: rgb(136, 136, 128); }
