%!pdfLaTeXA6 pdf
%
% Félévi értesítő
%
% Szerző: Szirmai Ottó (szirmai_otto@bethlenszki.hu)
%
\documentclass[8pt]{article}

\usepackage[a6paper]{geometry} % A6-os méret
\usepackage[utf8x]{inputenc} % UTF-8 kódolású forrás (ucs)
\usepackage{ucs} % Jobb UTF-8 támogatás
\usepackage{t1enc}
\usepackage[magyar]{babel} % magyar elválasztási szabályok
\frenchspacing % a magyar tipográfiai szabályoknak megfelelő szóközök írásjelek után
\usepackage{booktabs} % táblázatok magasabb szintű formázása
\usepackage{fancyhdr} % Ritkítás
% ----------------------------- Az alábbi sor a láblécet tolja lejjebb, ettől több hasznos hely marad a lap alján.
\addtolength{\textheight}{1 truecm}
\pagestyle{fancy}
\def\mayor{%
\font\mayorfnt=cmsl4%
\font\Mayorfnt=cmsl6
{\mayorfnt\lower0.5ex\hbox{\lower-0.5ex\hbox{Ma}\kern-0.3em\lower0.25ex\hbox{\Mayorfnt Y}\kern-0.2em\hbox{o}\lower0ex\hbox{R}}}}
\renewcommand{\footnotesize}{\fontsize{6pt}{8pt}\selectfont}
\addtolength{\skip\footins}{2mm}
\addtolength{\textheight}{10mm}
\setlength{\footskip}{16pt}
\setlength{\headsep}{14pt}
\cfoot{\tiny \copyright\mayor\ elektronikus napló - Nyomtatva: %$nyomtatasDt}
\chead{\tiny %$intezmenyNev\\ Értesítő %$tanevKezdesEv-%$tanevZarasEv/%$szemeszter}
%\lhead{\tiny %$intezmenyNev}
%\rhead{\tiny Értesítő %$tanevKezdesEv-%$tanevZarasEv/%$szemeszter}
\begin{document}

%{diak
\begin{center}
% ----------------------------------- Az alábbi két sorban a []-közötti számok a név elötti és utáni helyet állítják
% ----------------------------------- A Diák nevének szövegét méretezhetjük: large, small, tiny 
\mbox{}\\[-7.5mm]
{\large %$diakNev}\\[-0.5mm]
{\scriptsize %$osztaly osztály}

\vspace{2pt}

\small
\begin{tabular}{@{\ \ }l|r@{\ \ }}
\toprule\hline magatartás & \emph{%$magatartas}\\ 
\hline szorgalom & \emph{%$szorgalom}\\ 
\hline\hline

%{targy
%$targyNev & \emph{%$hivatalos %$mJel} \\
\hline
%}targy

\bottomrule
\end{tabular}

\vspace{4pt}
\begin{tabular}{@{\ \ }l|r|l|r@{\ \ }}
% ------------------------------------- Az alábbi sorokban volt benne az a változó ami berakta, hogy mennyit hiányzott a gyerek. Ez most üres, így kézzel kell kitölteni, viszont ennek köszönhetően igazodni lehet a helyi elvárásokhoz.
\multicolumn{4}{c}{mulasztott órák száma} \\ 
\midrule
igazolt&{\sl  }&igazolatlan\footnotemark[1]&{\sl  }\\ 
\bottomrule
\end{tabular}
\footnotetext[1]{Tartalmazhat még igazolható hiányzásokat is!}
\vspace{4pt}\begin{flushleft}
{\scriptsize %$intezmenyCimHelyseg, %$ev. %$hoNev %$nap.}
\end{flushleft}
\vspace{6pt}\slshape\scriptsize
\begin{tabular}{ccc}
\rule{3cm}{0.1pt}&&\rule{3cm}{0.1pt}\\ 
osztályfőnök&&szülő\\ 
\end{tabular}
\end{center}
\newpage %%%%%%%%%%%%%%%%% új oldal %%%%%%%%%%%%%%%%%%%%
%}diak

\end{document}
