
@media screen {
    form.fogado { margin: 10px 20px; }
    form.fogado table { background-color: rgb(130,160,130); margin: 0px auto; }
    form.fogado table td { background-color: rgb(250,250,200); }
    form.fogado table th { background-color: rgb(150,20,20); color: white; padding: 4px; }
    form.fogado table thead td { background-color: rgb(180,30,30); color: white; text-align: center; }
    form.fogado table thead th { }
    form.fogado table thead th.cim { border-bottom: solid 1px white; height:3em; }
    form.fogado table tfoot th { }
    form.fogado table tbody td { text-align: center; }
    form.fogado table tbody td.ok { background-color: lightgreen; }
    form.fogado table tbody td.foglalt { background-color: #666666; }
    form.fogado table tbody td.torol { background-color: rgb(130,180,130); }
    form.fogado table tbody th { text-align: left; background-color: rgb(180,30,30); color: white; }
    form.fogado h1 { text-align: center; border: dotted white; border-width: 1px 0px; font-size: 12pt; background-color: rgb(150,20,20); color: white; margin: 0px; }
    form.fogado div { text-align: center; background-color: rgb(250,250,200); }
    form.fogado a { text-decoration: none; color: rgb(250,250,200); display: block; }
    form.fogado a:hover { text-decoration: underlined; color: rgb(250,250,100); }
    form.fogado div.diak {
	display: table-cell; border: solid 1px white; padding-right:20px; padding-left:20px; vertical-align:baseline;">';
    }
    form.fogado div.diak span.diakNev { background-color: #eeeee0; padding-left:1em; padding-right:1em; }
}

@media print {

    .mayorhead, .toolBar { display: none; }

    form.fogado { margin: 0px 20px; }
    form.fogado table { width: 600px; background-color: white; margin: 20px auto; border: 1px black solid; border-spacing: 0px; page-break-after: always; page-break-inside: avoid; }
    form.fogado table td { background-color: white; border: 1px black solid; padding: 10px; }
    form.fogado table th { background-color: white; color: black; padding: 4px; border: 1px black solid; padding: 10px; }
    form.fogado table thead td { background-color: white; color: blck; text-align: center; }
    form.fogado table thead th {  }
    form.fogado table tbody td { text-align: center; }
    form.fogado table tbody th { text-align: left; background-color: white; color: black; }
    form.fogado h1 { text-align: center; border: dotted white; border-width: 1px 0px; font-size: 12pt; background-color: white; color: black; margin: 0px; }
    form.fogado div { text-align: center; background-color: white; }
    form.fogado a { text-decoration: none; color: black; display: block; }
    form.fogado a:hover { text-decoration: underlined; color: black; }
    form.fogado table tfoot { display: none; }
    form.fogado div.diak img { display:none; }
    form.fogado div.diak span.diakNev { background-color: white; padding-left:1em; padding-right:1em;}

}