Nyomtatva: %$ev. %$hoNev %$nap.
Intézmény: %$intezmenynev

%{diak

    Név: %$viseltCsaladinev %$viseltUtonev
    Születési idő: %$szuletesiEv. %$szuletesiHoNev %$szuletesiNap.
    Születési hely: %$szuletesiHely
    Anyja neve: %$anyaNev
    Állampolgársága / Neme: %$allampolgarsag / %$nem
    Jogviszony: %$jogviszonyKEv. %$jogviszonyKHoNev %$jogviszonyKNap. - %$jogviszonyVEv. %$jogviszonyVHoNev %$jogviszonyVNap.
    TAJ: %$tajSzam
    Diákigazolványszám: %$diakigazolvanySzam
    Személyi igazolvány szám: %$szemelyiIgazolvanySzam
    Tartózkodási okirat szám: %$tartozkodasiOkiratSzam
    Adóazonosító: %$adoazonosito
    Oktatási azonosító: %$oId
    Osztály: %$osztalyJel}
    Lakhely: %?lakhelyHelyseg|%$lakhelyIrsz %$lakhelyHelyseg, %$lakhelyKozteruletNev %$lakhelyKozteruletJelleg %$lakhelyHazszam %$lakhelyEmelet %$lakhelyAjto|%?
    Tartózkodási hely: %?tartHelyseg|%$tartIrsz %$tartHelyseg, %$tartKozteruletNev %$tartKozteruletJelleg %$tartHazszam %$tartEmelet %$tartAjto|%?
    Telefonszám: %$telefon
    Mobil: %$mobil
    E-mail: %$email
    Törvényes képviselő: %$torvenyesKepviselo

    Anya
	Név: %$anyanevElotag %$anyacsaladinev %$anyautonev
	Családi állapot: %$anyaStat
	Lakcím: %$anyacimIrsz %$anyacimHelyseg
	    %$anyacimKozteruletNev %$anyacimKozteruletJelleg %$anyacimHazszam %$anyacimEmelet %$anyacimAjto
	Telefon: %$anyatelefon
	Mobil: %$anyamobil
	E-mail: %$anyaemail
	Születési év: %$anyaszuletesiEv
	Foglalkozás: %$anyafoglalkozas
	Munkahely: %$anyamunkahely
	Jogviszony változás (max. 5 db):
	    jvDt0: %jvDt0
	    jvStat0: %jvStat0
	    jvDt1: %jvDt1
	    jvStat1: %jvStat1
	    jvDt2: %jvDt2
	    jvStat2: %jvStat2
	    jvDt3: %jvDt3
	    jvStat3: %jvStat3
	    jvDt4: %jvDt4
	    jvStat4: %jvStat4
	Jogviszony változás (összes):
%{jogviszony
	    Dátum: %$dt
	    Státusz: %$statusz
%}jogviszony

    Gondviselő
	Név: %$gondviselonevElotag %$gondviselocsaladinev %$gondviseloutonev
	Családi állapot: %$gondviseloStat
	Lakcím: %$gondviselocimIrsz %$gondviselocimHelyseg
	    %$gondviselocimKozteruletNev %$gondviselocimKozteruletJelleg %$gondviselocimHazszam %$gondviselocimEmelet %$gondviselocimAjto}
	Telefon: %$gondviselotelefon
	Mobil: %$gondviselomobil
	E-mail: %$gondviseloemail
	Születési év: %$gondviseloszuletesiEv
	Foglalkozás: %$gondviselofoglalkozas
	Munkahely: %$gondviselomunkahely

    Apa
	Név: %$apanevElotag %$apacsaladinev %$apautonev
	Családi állapot: %$apaStat
	Lakcím: %$apacimIrsz %$apacimHelyseg
	    %$apacimKozteruletNev %$apacimKozteruletJelleg %$apacimHazszam %$apacimEmelet %$apacimAjto
	Telefon: %$apatelefon
	Mobil: %$apamobil
	E-mail: %$apaemail
	Születési év: %$apaszuletesiEv
	Foglalkozás: %$apafoglalkozas
	Munkahely: %$apamunkahely

    Nevelő
	Név: %$nevelonevElotag %$nevelocsaladinev %$neveloutonev
	Családi állapot: %$neveloStat
	Lakcím: %$nevelocimIrsz %$nevelocimHelyseg
	    %$nevelocimKozteruletNev %$nevelocimKozteruletJelleg %$nevelocimHazszam %$nevelocimEmelet %$nevelocimAjto}
	Telefon: %$nevelotelefon
	Mobil: %$nevelomobil
	E-mail: %$neveloemail
	Születési év: %$neveloszuletesiEv
	Foglalkozás: %$nevelofoglalkozas
	Munkahely: %$nevelomunkahely

%}diak
