Intézmény neve: %$intezmenyNev
Tanév: %$tanev
Nyomtatás dátuma: %$nyDt
Dátum intervallum: %$tolDt – %$igDt
%{hDt
%{helyettesites
    Hdt: %$dt
	Hóra: %$ora
	    HkiCn: %$kiCn
	    HkitCn: %$kitCn
	    HTankor: %$tankorNev
	    HTipus: %$tipus
%}helyettesites
%}hDt
Intézmény helység: %$intezmenyHelyseg
Nyomtatás dátuma: %$nyDatumStr
