<?php

//    define('_HOME_LOGO','skin/sulix/base/img/build-w.png');
//    define('_SCHOOL_NAME','MaYoR elektronikus napló');    
//    define('__MAX_MENU',5);
//    define('__COLOR_SCHEME','red'); // blue, red, yellow

?>