Intézmény OM: %$omkod
TelephelyId: %$telephelyId
Tanév jele: %$tanevJel
Évfolyam: %$evfolyam 
Félévi-e: %$feleviE
Osztaly jelleg: %$kirOsztalyJelleg
%{diak
    oktatási azonosító: %$oId
%{targy
	KIR tárgykód: %$kirTargyKod
	Érdemjegy: %$jegy
%}targy
%}diak
