
Nyomtatás dátuma: %$nyomtatasDt
Tanév: %$tanevJele
Intézmény: %$intezmenyNev
    Irsz: %$intezmenyCimIrsz
    Helység: %$intezmenyCimHelyseg
    Közterület-név: %$intezmenyCimKozteruletNev
    Közterület-jelleg: %$intezmenyCimKozteruletJelleg
    Házszám: %$intezmenyCimHazszam
    Telefon: %$intezmenyTelefon
    Honlap: %$intezmenyHonlap
    Email: %$intezmenyEmail
    Fax: %$intezmenyFax
Osztaly: %$osztalyJele

%{diak
    Diák neve: %$diakNev
%{zaradek
	Záradék dátuma: %$dt
	Szövege: %$szoveg
	Sorszáma: %$sorszam
%}zaradek
%{bejegyzes
	Beírás dátuma: %$beirasDt
	Típus: %$tipus
	Fokozat: %$fokozat
	Fokozat szöveggel: %$szovFokozat
	Szöveg: %$szoveg
	Tanár: %$tanarNev
	Bejegyzés azonosító: %$bejegyzesId
	Referencia dátum: %$referenciaDt
%}bejegyzes
%}diak
