
    div.hirCim {
	font-style: italic;
	font-size: 14px;
	color: #000088;
	font-weight: bold;
	margin-top:1em;
	padding-bottom: 0.5em;
    }

    table.hAdmin {
	background-color: #445560;
	width:90%;	
    }
    table.hAdmin tr td {
	background-color: #eee;
    	padding: 2px 4px;
	line-height: 1.6em;
    }
    table.hAdmin tr:hover td {
	outline: solid 1px #d64161;
	background-color: #fff;
    }

    table.hAdmin tr td.latszik {
	background-color: #d64161; color:white;
    }

    table.hAdmin tr.unk td {
	background-color: #feb236;
    }
    table.hAdmin tr.old td {
	background-color: #999999;
    }

    table.hAdmin a { display: block;  color: black; }

    label { margin:0px; padding:0px; }
