      h1.dokumentumLista { text-align:center; }
        span.dokumentumMegjegyzes { padding-left: 0.5em; font-size: x-small; }
        table.dokumentumLista {margin-top: 2em; margin-bottom:4em; }
        table.dokumentumLista thead tr th { background-color: #eee; padding: 10px 10px;}
        table.dokumentumLista tbody tr th { background-color: #eee; padding: 10px 10px;}
    table.dokumentumLista div.inline-block {display: inline-block; padding:4px 10px;}
    table.dokumentumLista tr td a { color: #444; padding-left: 1em;}
    table.dokumentumLista tr td:hover a { color: #111; }
    table.dokumentumLista tr td a:hover { text-decoration: underline; color: cornflowerblue;}

    table.dokumentumLista tbody tr.private th { background-color: cornflowerblue; color:white; }
    table.dokumentumLista tbody tr.private td span.icon-lock { color: cornflowerblue; margin-left: 1em; }


    table.dokumentumLista tbody tr td span.material-icons { display: inline-block; font-size:12px;padding-right:2px; color: white; }    
    table.dokumentumLista tbody tr td:hover span.material-icons { display: inline-block; font-size:12px;padding-right:2px; color: #444; }    
    table.dokumentumLista tr td a:before { content: ""; padding-right:4px; color: #ddd;}
    table.dokumentumLista tr td:hover a:before { content: ""; padding-right:4px; color: cornflowerblue;}

    table.dokumentumLista tr td { height:1.8em;}
    table.dokumentumLista.admin { outline: solid 2px orange; border-radius:10px;}
    table.dokumentumLista.admin tr td:hover div.dokumentumUrl_pl {display: inline-block;}

    table.dokumentumLista tr th span.tanev {
  border-radius: 4px; padding:2px 4px; color:white; opacity:70%;
}
    table.dokumentumLista tr th span.tanev0 {background-color: cornflowerblue}
    table.dokumentumLista tr th span.tanev1 {background-color: orange}
