

span.valaszthato {
    background-color: #eeeeee;
    font-style:italic;
}

/*

    form.kepzes { background-color: rgb(100,70,120); color: white; margin: 30px; text-align: center; padding-bottom: 10px; }
    form.kepzes h1 { background-color: rgb(60,0,80); border: white solid; border-width: 1px 0px; font-size: 16px; padding: 2px; }

*/