<?php

        // Napló zárás: következő hónap 10-e
        define('_ZARAS_HATARIDO',date('Y-m-01 00:00:00',strtotime('-10days')));
	define('__ZARAS_HATARIDO',_ZARAS_HATARIDO);
        // Helyttesített óra beírása (szaktanár): következő nap 8:00
        define('_HELYETTESITES_HATARIDO',date('Y-m-d 00:00:00',strtotime('-8hours')));
        // Jegyek beírása, módosítása, törlése (szaktanár): zárásig (zárt időintervallum!)
        define('_OSZTALYOZO_HATARIDO',_ZARAS_HATARIDO);


        // Saját óra beírása (szaktanár)
        // A mai nap+8 óra előtti tanatási nap utáni napot megelőző hétfő
	// Azaz egy óra a következő hétfői tanítási nap 16:00-ig írható be.
        define('_HALADASI_HATARIDO',
            date('Y-m-d H:i:s',
                strtotime('last Monday',
                    strtotime('next day',
                        strtotime(
                            getTanitasiNapVissza(1, date('Y-m-d',strtotime('+8hours')))
                        )
                    )
                )
            )
        );

	// Bontandó tárgyak targyId-i (ld. ascExport Súgó)
	// define('__ASC_BONTANDO_TARGYAK','1,12');

	// A nevek rendezése a helyettesítés kiíráskor: súly szerint (súly) vagy névsorban (ABC)
	define('__HELYETTESITES_RENDEZES','súly');
	// Haladási statisztikához
	define('__TANITASI_HETEK_OVERRIDE', false);

	// Félévi és év végi osztályzatok elrejtése a diákok elől a szemeszter végéig
	define('_OSZTALYZATOK_ELREJTESE', false);

	// A diák jegyeinél mutassa-e az alapértelmezett súlyozás szerinti átlagot a rendszer
	define('__ATLAG_MUTATAS',true);
	// Fogadóórán egy vizit tervezett hossza
	define('_VIZITHOSSZ',10);
	// Jegyek default súlyozása
        define('__DEFAULT_SULYOZAS','1:1:1:1:1');
	// Ha az osztályozónaplóban az alapértelmezett havi bontás helyett féléves bontást szeretnénk
	// define('__OSZTALYOZONAPLO_JEGYEK_FELEVENTE', true);
	// Jegymódosításkor a jegy típus modosítható-e (pl: féljegy --> százalékos)
	// define('__JEGYTIPUS_VALTHATO',true);

	// A haladási és osztályozónaplók nyomtatása A5 méretű füzetként (booklet)
	// define('__NYOMTATAS_FUZETKENT',true);
	// UTF-8 támogatás - XeTeX használata a nyomtatványok generálásához
	// define('__NYOMTATAS_XETEX',true);

    // Tanév függő beállítások!
    if (defined('__TANEV')) {

	if(__TANEV==2008) {
            // Ha azt akarjuk, hogy a tanárok módosíthassák a tanköreik névsorát... bátor vállalkozás :o)
            // define('_TANKOR_MODOSITAS_HATARIDO','2008-09-30');
	} elseif (__TANEV==2016) {
	    define('___TANITASI_HETEK_SZAMA', 36);
	    define('___VEGZOS_TANITASI_HETEK_SZAMA', 31);
	}

	// Szülői igazolások száma: félévenként legfeljebb 5 nap
	define('__SZULOI_IGAZOLAS_FELEVRE',5);
	define('__SZULOI_IGAZOLAS_EVRE',0);
	// Szülő által igazolható órák maximális száma: félévenként legfeljebb 14 óra
	define('__SZULOI_ORA_IGAZOLAS_FELEVRE',14);
	define('__SZULOI_ORA_IGAZOLAS_EVRE',0);
	// Osztályfőnöki igazolások száma: évi 3 nap
	// Csak ha < 5 igazolatlanja van
	define('__OSZTALYFONOKI_IGAZOLAS_FELEVRE',0);
	define('__OSZTALYFONOKI_IGAZOLAS_EVRE',5);
	define('__OSZTALYFONOKI_ORA_IGAZOLAS_FELEVRE',0);
	define('__OSZTALYFONOKI_ORA_IGAZOLAS_EVRE',21);

	// Összeadjuk-e a késések perceit, hogy átváltsuk
	define('_KESESI_IDOK_OSSZEADODNAK', false);
	// Hány késés felel meg egy igazolatlan órának - ha 0 vagy _KERESESI_IDOK_OSSZEADODNAK, akkor nem váltjuk át
	define('_HANY_KESES_IGAZOLATLAN', 3);
	// Hány felszerelés hiány felel meg egy igazolatlan órának - ha 0 vagy _KERESESI_IDOK_OSSZEADODNAK, akkor nem váltjuk át
	define('_HANY_FSZ_IGAZOLATLAN', 3);

    	// Hiányzás, késés, felszerelés hiány beírása (szaktanár): következő nap 16:00
    	define('_HIANYZAS_HATARIDO',date('Y-m-d 00:00:00',strtotime('16 hours ago')));
    	// Hiányzás, késés beírása osztályfőnöknek: 5 tanítási nap
    	define('_OFO_HIANYZAS_BEIRAS',5);
    	define('_OFO_HIANYZAS_HATARIDO',getTanitasiNapVissza(_OFO_HIANYZAS_BEIRAS,'curdate()'));
    	// Igazolás beírásának határideje: 5 tanítási nap
    	define('_IGAZOLAS_BEIRAS',6);
    	define('_IGAZOLAS_BEIRAS_HATARIDO',getTanitasiNapVissza(_IGAZOLAS_BEIRAS,'curdate()'));
    	// Igazolás leadás határideje - ha nincs közben osztályfőnöki óra: 8 tanítási nap
    	define('_IGAZOLAS_LEADAS',8);
    	define('_LEGKORABBI_IGAZOLHATO_HIANYZAS',getTanitasiNapVissza(_IGAZOLAS_BEIRAS+_IGAZOLAS_LEADAS,'curdate()'));

	// Legalább hány óra jelenjen meg az órarend-módosító oldalon? (default: 8)
	define('__MAXORA_MINIMUMA',8);
	// Legalább hány nap jelenjen meg az órarend-módosító oldalon? (default: 5)
	define('__HETIMAXNAP_MINIMUMA',5);

    }

/*

    global $SULYOZAS;
    $SULYOZAS = array('1:2:3:4:5','1:1:1:1:1','1:1:2:2:2');

    // A kitűnő megállapításához csak az átlagot vesszük figyelembe
    define('_KITUNO_ATLAG', 5.0);
    // jelesrendű, aki a megadott átlag fölött van és nincs a megadott jegynél gyengébb eredménye egyik tárgyból sem
    define('_JELES_ATLAG', 4.75);
    define('_JELES_LEGGYENGEBB_JEGY', 3);

    // A kréta órarend exportban használt hetirend típusok a Kréta adatszótára szerint...
    global $kretaHETIREND;
    $kretaHETIREND = array(1 => 'A hét', 2 => 'B hét', 3 => 'Minden hét');


*/

?>