/* @override https://sy.ulx.hu:1743/sulixnaplo/skin/classic/module-naplo/css/naplo.css?ver=2719 */

table.toolBar { width: 95%; max-width: 95%;	border-spacing: 0px; margin: 1em auto; overflow: auto; }
    table.toolBar form { margin: 0px; padding: 0px; }
    table.toolBar tr.first td.toolBarTitle, table.toolBar tr.first td.toolBarTool { border: solid 1px #333333; }
    table.toolBar td.gap { width: 50%; border-spacing: 0px; }
    table.toolBar td.help {
	background-color: silver;
	color: black; 
	border-width: 0px 1px 1px 1px;
	border-color: black;
	border-style: none solid solid solid;
	font-size:smaller;
	padding: 3px;
}
table.toolBar tr.first td a img {
    display: none;
}
    table.toolBar td.toolBarTitle {
	background-color: white;
	width: 100%;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
}
    #toolBarIntezmeny {
	color: red;
	border: solid red;
	border-width: 1px 0px;
	font-size: 10px;
    }

    table.toolBar td.toolBarTool {
	background-color: #3496b9;
	margin: 0px;
	padding: 0px;
    }
    table.toolBar td.toolBarTool table { border-spacing: 0px; width: 100%; }
    table.toolBar td.toolBarTool table th {
	background-color: #3496b9;
	text-align: left;
	color: white;
	font-size:10px;
        padding: 0px 0px 0px 4px;
}
    table.toolBar input.toolSubmit { vertical-align: middle; border: 0px none; }
    table.toolBar td.toolBarTool select { border: 0px; }
    table.toolBar th {
	background-color: #3496b9;
	text-align: center;
	color: white;
	font-size:10px;
        padding: 0px 0px 0px 4px;
}
    table.toolBar img { border: none; }

    table.toolBar table.hianyzasOsszegzo { width:100%; font-size:10px; }
    table.toolBar table.hianyzasOsszegzo th {
            text-align: center !important;
            border-style: none none solid none;
            border-color: #888888;
            border-width: 0px 0px 1px 0px;
            }
    table.toolBar     table.hianyzasOsszegzo td { width: 18%; border-bottom: solid 1px rgb(60,80,100); background-color: #dddddd; text-align: center; }

    form.lapozo input {	font-size: 10px; border: solid 1px #555555; }
    form button.lapozo { font-size:10px; }
    form span.lapozo   { color:white; background-color: rgb(90,133,184); padding:1px 5px; border: solid 1px rgb(21,71,123);}

    table.flipper input {height: 38px; width: 16px; color: white; 
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	border-left: none;
	border-right: none;
	background-color: rgb(90,133,184); 
    }
    table.flipper input.step { background-color: rgb(100,100,60); }
    table.gomb button { height: 38px; width: 24px; background-color: rgb(90,133,184); border: solid black; border-width: 1px 0px; }

    div.beirasAdatok { text-align: center; }
    div.beirasAdatok span { font-weight: bold; font-size: 20pt; vertical-align: middle; }
    div.beirasAdatok img { vertical-align: middle; }

    table.toolBar input { font-size: 10px; }
