
    div.mayorbody h1        {text-align: center;  margin:10px; font-size:20px; }
    div.mayorbody h2        {text-align: center;  margin:10px; font-size: 15px; }

    form.forgot { width: 450px; margin: 40px auto; text-align: center; 
	box-shadow: 0px 0px 2px 0px #ccc;
	padding: 20px; 
    }
    form.forgot h1 { font-size: 16px; }
/*
    form.forgot input[type=submit] { background: #1f6fd9; color: white; text-shadow: 0 -1px 0 rgba(0,0,0,0.3); font-size: 12px; border: 1px solid #1d66c8; padding: 2px 10px; }
    form.forgot input[type=submit]:hover { background-color: #2f7fe9;} 
*/
    div.forgot { width: 400px; margin: 20px auto; text-align: center; box-shadow: 0px 0px 2px 0px #ccc; padding:0px; }
/*
régi
    div.forgot a { color:#aaaaaa; display: block; padding:20px;}
    div.forgot:hover a {  background-color: cornflowerblue; color:white;     }
*/
form.forgot input, form.forgot select,
form.preforgot input, form.preforgot select{
    border: 1px solid rgba(0, 0, 0, .20);
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
    display: block;
    font-size: 17px;
    height: 42px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    width: 286px;
}
form.forgot input.error {border-color:red;}

form.forgot select, form.forgot input[type="submit"],
form.preforgot select, form.preforgot input[type="submit"]{
    width: 320px;
}
form.forgot input[type="submit"],form.preforgot input[type="submit"]{ border-color: white; background-color:white;}
form.forgot input[type="submit"]:hover,form.preforgot input[type="submit"]:hover { background-color:white; cursor: pointer; color: cornflowerblue; border-color: cornflowerblue;}

div.loginlogo {margin-left: auto; margin-right:auto; text-align:center; margin-bottom: 2em; margin-top:50px;}
div.loginlogo img { padding:20px; height:50px; background-color: cornflowerblue; }

p.forgotDone { text-align:center; }



    p.forgotDone a {
    border: 1px solid rgba(0, 0, 0, .10);
    border-radius: 4px;
    color: rgba(0, 0, 0, .1);
    display: block;
    font-size: 16px;
    height: 42px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    width: 286px;
    line-height:42px;
    }
    p.forgotDone a:hover { background-color: cornflowerblue; }
    p.forgotDone a:hover { color:white;     }

