
    form#nevsorForm { margin-left: 35px; }
    form#nevsorForm table#kontener td { vertical-align: top; background-color: #ddd; border: solid 1px #abc;}
    form#nevsorForm table#kontener > tbody > tr > th { padding: 5px; background-color: #eee; cdolor: white; border: solid #aaa; border-width: 0px 1px 1px 0px; }
    form#nevsorForm table#kontener > tbody > tr > th:nth-child(3) { width: 300px;  }
    form#nevsorForm table#kontener td#osztalyok input[type=button] { width: 100px; text-align: right; }
    form#nevsorForm table#kontener td#osztalyok input[type=button]:hover { background-color: orange; }
    form#nevsorForm table#kontener input.add { color: #68a; width: 100%; font-size: 22px; font-weight: bold; text-align: center; margin-top: 20px; }
    form#nevsorForm table#kontener td.openable select { min-height: 300px; width: 100%; }
    form#nevsorForm table#kontener input.selected { background-color: #aaccee; }

    form#nevsorForm table#nevsor { min-width: 500px; }

    form#nevsorForm table#nevsor tr th { padding: 5px; background-color: #c8c8c8; vertical-align: middle; }
    form#nevsorForm table#nevsor tr td { padding: 5px; background-color: #d8d8d8; vertical-align: middle; }
    form#nevsorForm table#nevsor tr td.sorsz { text-align: right; }
    form#nevsorForm table#nevsor tr td.osztaly { text-align: right; cursor: pointer;}
    form#nevsorForm table#nevsor tr:nth-child(odd) td { background-color: #eeeeee; }
    form#nevsorForm table#nevsor tr.ujDiak td { background-color: #99dd99; }

    form#nevsorForm table#nevsor span.icon-remove-sign {color: red; cursor: pointer; padding: 3px 20px; }
    form#nevsorForm table#nevsor span.icon-remove-sign:hover { color: orange; }
    form#nevsorForm table#nevsor span.icon-remove-sign:hover:before { content: "\e103"; }
    
    form#nevsorForm table#nevsor span.icon-minus-sign { color: #800; cursor: pointer; padding: 3px 20px; }
    form#nevsorForm table#nevsor span.icon-minus-sign:hover { color: orange; }
    form#nevsorForm table#nevsor span.icon-minus-sign:hover:before { content: "\e06e"; }

    form#nevsorForm table#nevsor span.icon-ok-sign { color: #080; cursor: pointer; padding: 3px 20px; }
    form#nevsorForm table#nevsor span.icon-ok-sign:hover { color: orange; }
    form#nevsorForm table#nevsor span.icon-ok-sign:hover:before { content: "\e075"; }

    form#nevsorForm table#nevsor tr#submitRow input { width: 100%; }
    form#nevsorForm table#nevsor tr#submitRow input:hover { background-color: orange;  }
