
div.beirasAdatok { font-size:large; margin:auto; width:90%; text-align: center; }
div.beirasAdatok a { text-decoration: none; color: inherit; }
div.beirasAdatok a:hover { text-decoration: none; color: #777777; }
